apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  releaseName: traefik
  interval: 15m
  chart:
    spec:
      chart: traefik
      version: 34.x.x
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  targetNamespace: traefik-system
  createNamespace: true
  values:
    deployment:
      replicas: 2

    ingressClass:
      enabled: true
      isDefaultClass: true

    service:
      enabled: true
      type: LoadBalancer

    ports:
      web:
        redirectTo: websecure
      websecure:
        tls:
          enabled: false
