apiVersion: v1
kind: Namespace
metadata:
  name: wireguard
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: wg-easy
  namespace: flux-system
spec:
  interval: 24h
  url: https://raw.githubusercontent.com/hansehe/wg-easy-helm/master/helm/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wg-easy
  namespace: wireguard
spec:
  interval: 30m
  chart: 
    spec:
      chart: wg-easy
      version: '>=0.0.0'
      sourceRef:
        kind: HelmRepository
        name: wg-easy
        namespace: flux-system
      interval: 12h
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    
    # Environment variables for wg-easy
    env:
      PORT: "51821"
      INSECURE: "false"  # Set to true if not using TLS ingress
      WG_DEFAULT_DNS=10.0.10.22, 10.0.10.40, 10.0.10.64
      WG_ALLOWED_IPS=10.0.10.0/24, 10,0.50.0/24  # Split-tunnel

    # WireGuard VPN service (UDP)
    service:
      type: LoadBalancer
      port: 51820
      annotations: {}
    
    
    # Resource limits
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
