apiVersion: v1
kind: Namespace
metadata:
  name: openwifi
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: openwifi
  namespace: flux-system
spec:
  interval: 24h
  url: https://tip.jfrog.io/artifactory/tip-wlan-cloud-ucentral-helm/
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openwifi
  namespace: openwifi
spec:
  interval: 30m
  chart: 
    spec:
      chart: openwifi
      version: '>=0.1.0'
      sourceRef:
        kind: HelmRepository
        name: openwifi
        namespace: flux-system
      interval: 12h
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    # Disable Bitnami Kafka - use existing Strimzi cluster
    kafka:
      enabled: false
    
    # Disable HAProxy - use Traefik
    haproxy:
      enabled: false
    
    # Disable PostgreSQL - use SQLite default
    postgresql:
      enabled: false
    
    # Configure all services to use external Kafka
    owgw:
      configProperties:
        "openwifi.kafka.enable": "true"
        "openwifi.kafka.brokerlist": "my-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092"
      # Expose OWGW websocket for AP connections via MetalLB
      services:
        owgw:
          type: LoadBalancer
          annotations:
            metallb.universe.tf/allow-shared-ip: "openwifi"
          ports:
            websocket:
              servicePort: 15002
              targetPort: 15002
              protocol: TCP
    
    owsec:
      configProperties:
        "openwifi.kafka.enable": "true"
        "openwifi.kafka.brokerlist": "my-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092"
    
    owfms:
      configProperties:
        "openwifi.kafka.enable": "true"
        "openwifi.kafka.brokerlist": "my-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092"
    
    owprov:
      configProperties:
        "openwifi.kafka.enable": "true"
        "openwifi.kafka.brokerlist": "my-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092"
    
    owsub:
      configProperties:
        "openwifi.kafka.enable": "true"
        "openwifi.kafka.brokerlist": "my-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092"
