apiVersion: v1
kind: Namespace
metadata:
  name: openwifi
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: openwifi
  namespace: flux-system
spec:
  interval: 24h
  url: https://tip.jfrog.io/artifactory/tip-wlan-cloud-ucentral-helm/
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openwifi
  namespace: openwifi
spec:
  interval: 30m
  chart: 
    spec:
      chart: openwifi
      version: '>=0.1.0'
      sourceRef:
        kind: HelmRepository
        name: openwifi
        namespace: flux-system
      interval: 12h
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  valuesFrom:
    - kind: Secret
      name: openwifi-certs
      valuesKey: websocket-cert.pem
      targetPath: owgw.certs.websocket-cert\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: websocket-key.pem
      targetPath: owgw.certs.websocket-key\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-cert.pem
      targetPath: owgw.certs.restapi-cert\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-key.pem
      targetPath: owgw.certs.restapi-key\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-ca.pem
      targetPath: owgw.certs.restapi-ca\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: issuer.pem
      targetPath: owgw.certs.issuer\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: root.pem
      targetPath: owgw.certs.root\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: clientcas.pem
      targetPath: owgw.certs.clientcas\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-cert.pem
      targetPath: owsec.certs.restapi-cert\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-key.pem
      targetPath: owsec.certs.restapi-key\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-ca.pem
      targetPath: owsec.certs.restapi-ca\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-cert.pem
      targetPath: owfms.certs.restapi-cert\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-key.pem
      targetPath: owfms.certs.restapi-key\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-ca.pem
      targetPath: owfms.certs.restapi-ca\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-cert.pem
      targetPath: owprov.certs.restapi-cert\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-key.pem
      targetPath: owprov.certs.restapi-key\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-ca.pem
      targetPath: owprov.certs.restapi-ca\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-cert.pem
      targetPath: owanalytics.certs.restapi-cert\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-key.pem
      targetPath: owanalytics.certs.restapi-key\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-ca.pem
      targetPath: owanalytics.certs.restapi-ca\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-cert.pem
      targetPath: owsub.certs.restapi-cert\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-key.pem
      targetPath: owsub.certs.restapi-key\.pem
    - kind: Secret
      name: openwifi-certs
      valuesKey: restapi-ca.pem
      targetPath: owsub.certs.restapi-ca\.pem
  values:
    # Disable Bitnami Kafka - use existing Strimzi cluster
    kafka:
      enabled: false
    
    # Enable cert-manager for private REST API endpoints
    restapiCerts:
      enabled: true
      clusterDomain: cluster.local
      services:
        - owgw
        - owsec
        - owfms
        - owprov
        - owanalytics
        - owsub
    
    # Disable HAProxy - use Traefik/MetalLB
    haproxy:
      enabled: false
    
    # Configure all services to use external Kafka
    owgw:
      configProperties:
        openwifi.kafka.enable: "true"
        openwifi.kafka.brokerlist: "openwifi-kafka.openwifi.svc.cluster.local:9092"
        openwifi.system.uri.public: "https://openwifi.wilsonfi.dev/owgw"
        openwifi.system.uri.ui: "https://openwifi.wilsonfi.dev"
      # Expose OWGW websocket for AP connections via MetalLB
      services:
        owgw:
          type: LoadBalancer
          annotations:
            metallb.universe.tf/allow-shared-ip: "openwifi"
    
    owsec:
      configProperties:
        openwifi.kafka.enable: "true"
        openwifi.kafka.brokerlist: "openwifi-kafka.openwifi.svc.cluster.local:9092"
        openwifi.system.uri.public: "https://openwifi.wilsonfi.dev"
        openwifi.system.uri.ui: "https://openwifi.wilsonfi.dev"
    
    owfms:
      configProperties:
        openwifi.kafka.enable: "true"
        openwifi.kafka.brokerlist: "openwifi-kafka.openwifi.svc.cluster.local:9092"
        openwifi.system.uri.public: "https://openwifi.wilsonfi.dev/owfms"
        openwifi.system.uri.ui: "https://openwifi.wilsonfi.dev"
    
    owprov:
      configProperties:
        openwifi.kafka.enable: "true"
        openwifi.kafka.brokerlist: "openwifi-kafka.openwifi.svc.cluster.local:9092"
        openwifi.system.uri.public: "https://openwifi.wilsonfi.dev/owprov"
        openwifi.system.uri.ui: "https://openwifi.wilsonfi.dev"
    
    owsub:
      configProperties:
        openwifi.kafka.enable: "true"
        openwifi.kafka.brokerlist: "openwifi-kafka.openwifi.svc.cluster.local:9092"
        openwifi.system.uri.public: "https://openwifi.wilsonfi.dev/owsub"
        openwifi.system.uri.ui: "https://openwifi.wilsonfi.dev"
    
    owanalytics:
      enabled: true
      configProperties:
        openwifi.kafka.enable: "true"
        openwifi.kafka.brokerlist: "openwifi-kafka.openwifi.svc.cluster.local:9092"
        openwifi.system.uri.public: "https://openwifi.wilsonfi.dev/owanalytics"
        openwifi.system.uri.ui: "https://openwifi.wilsonfi.dev"
    
    # Configure Web UIs to use correct owsec endpoint
    owgwui:
      public_env_variables:
        REACT_APP_UCENTRALSEC_URL: "https://openwifi.wilsonfi.dev"
    
    owprovui:
      public_env_variables:
        REACT_APP_UCENTRALSEC_URL: "https://openwifi.wilsonfi.dev"
