apiVersion: v1
kind: Namespace
metadata:
  name: pihole
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: pihole
  namespace: flux-system
spec:
  interval: 24h
  url: https://mojo2600.github.io/pihole-kubernetes/
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pihole
  namespace: pihole
spec:
  interval: 30m
  chart: 
    spec:
      chart: pihole
      version: '>=2.0.0 <3.0.0'
      sourceRef:
        kind: HelmRepository
        name: pihole
        namespace: flux-system
      interval: 12h
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    admin:
      existingSecret: "pihole-password"
      passwordKey: "password"  # The key inside the secret
    persistentVolumeClaim:
      enabled: true
      size: 5Gi
    serviceWeb:
      type: ClusterIP
    serviceDns:
      mixedService: true
      type: LoadBalancer
    dnsmasq:
      customDnsEntries: []
      additionalHostsEntries:
        - 10.0.50.200 pihole.wilsonfi.dev
        - 10.0.50.200 capacitor.wilsonfi.dev
        - 10.0.50.101 kube.wilsonfi.dev
        - 10.0.50.102 kube.wilsonfi.dev
        - 10.0.50.103 kube.wilsonfi.dev
        - 10.0.10.11 openwifi.wlan.local
